# ===============================
# MATLAB Temporary Files
# ===============================
*.asv
*.m~
*.mlx~
*.autosave
*.fig
*.mex*
*.log

# ===============================
# OS Files
# ===============================
.DS_Store
Thumbs.db

# ===============================
# MATLAB Project Files
# ===============================
*.prj

# ===============================
# Generated Output Folders
# ===============================
results/
output/
